button, label { cursor: pointer; }

.form-fields {
    display: block;
    margin-bottom: 10px;
}
.form-fields label { display: block; }

#loginForm,
#logged-in-content { display: none; }

#loginForm,
#logged-in-content {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
}

#logged-in-content { max-width: 1200px; }

.top-bar {
    border-bottom: 1px solid #C3C3C3;
    margin-bottom: 30px;
    padding: 10px 0 30px;
}

body.loading .spinner-wrapper {
    opacity: 1;
    visibility: visible;
}

.spinner-wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    opacity: 0;
    position: fixed;
    transition: 0.2s ease all;
    visibility: hidden;
    width: 100%;
    z-index: 10;
}

.spinner {
    animation-name: spin;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #333;
    height: 80px;
    left: calc(50% - 40px);
    position: absolute;
    top: calc(50% - 40px);
    width: 80px;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.error-alert,
.success-alert {
    border-radius: 6px;
    box-shadow: 0 5px 12px -5px rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    color: #FFF;
    font-weight: 600;
    left: calc(50% - 150px);
    margin-top: 5px;
    opacity: 0;
    padding: 8px;
    position: fixed;
    text-align: center;
    transform: translateY(-10px);
    transition: 0.2s ease all;
    visibility: hidden;
    width: 300px;
}

.error-alert {
    background-color: #980a0a;
}

.success-alert {
    background-color: green;
}

.error-alert.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.header-bar {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.header-bar h1 {
    float: left;
    margin: 0;
}

.header-bar .auto-refresh-checkbox {
    float: right;
    margin: 8px 25px 0 0;
}

.header-bar .refresh-btn { float: right; }

.pr-activity-table {
    margin-top: 10px;
    width: 100%;
}

.pr-activity-table img { max-width: 100%; }

.pr-activity-table img.emoji { max-width: 18px; }

.pr-repo {
    min-width: 250px;
    vertical-align: top;
}

.sticky-element {
    position: -webkit-sticky;
    position: sticky;
    padding: 15px 0;
    top: 0;
}

.pr-title {
    background-color: #FFF;
}

td.pr-repo,
td.pr-comments {
    padding-bottom: 15px;
    padding-top: 0;
}

td.pr-repo .toggle-comments { cursor: pointer; }

td.pr-repo .toggle-comments strong,
td.pr-repo .toggle-comments em {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pr-approval-status {
    background-color: #f6fbff;
    border-radius: 8px;
    border: 1px solid #a3c0d8;
    font-size: 85%;
    padding: 10px;
    top: 67px;
}

.sticky-element.toggle-comments:hover { color: #225494; }

tr.hide-comments .pr-approval-status,
tr.hide-comments .pr-comment,
tr.hide-comments .pr-title { display: none; }

tr.hide-comments .pr-comments:before {
    content: "Comments and approvals are hidden";
}

.pr-comment {
    background-color: #F7F7F7;
    border: 1px solid #D6D6D6;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 19px;
    padding: 10px;
}

.title-link,
.comment-link {
    border-bottom: 1px solid transparent;
    color: #225494;
    text-decoration: none;
    transition: 0.2s ease all;
}

.title-link:hover,
.comment-link:hover { border-bottom-color: #225494; }

.comment-file {
    color: #555;
    display: block;
    font-size: 80%;
    margin: 10px 0;
}

.pr-comment:first-of-type { margin: 0; }

.pr-comment.pr-comment-reply {
    background-color: #FFF;
    margin: -1px 0 10px 20px;
    width: calc(100% - 20px);
}

.pr-comment.pr-comment-reply:last-child { margin-bottom: 0; }

.pr-comment p { margin-top: 3px; }
